## Importing pandas
Getting started and checking your pandas setup

### 1. Import pandas under the alias pd.

In [1]:
import pandas as pd

### Print the version of pandas that has been imported.

In [2]:
print(pd.__version__)

0.25.3

### Print out all the version information of the libraries that are required by the pandas library.

In [3]:
print(pd.show_versions())

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.1.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 19.5.0
machine          : x86_64
processor        : i386
byteorder        : little
LC_ALL           : en_US.UTF-8
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 0.25.3
numpy            : 1.17.3
pytz             : 2018.7
dateutil         : 2.8.1
pip              : 20.1.1
setuptools       : 39.0.1
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : 4.4.1
html5lib         : None
pymysql          : 0.9.3
psycopg2         : None
jinja2           : 2.10.3
IPython          : 7.8.0
pandas_datareader: None
bs4              : None
bottleneck       : None
fastparquet      : None
gcsfs            : None
lxml.etree       : 4.4.1
matplotlib       : 3.1.1
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pytables         : None
s3fs             : None
scipy            : 1.3.1
sqlalchemy       : None
tables           : None
xarray           : None
xlrd             : 1.2.0
xlwt             : None
xlsxwriter       : None
None

## DataFrame basics
A few of the fundamental routines for selecting, sorting, adding and aggregating data in DataFrame

``` python  
import numpy as np
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

### 4. Create a DataFrame df from this dictionary data which has the index labels.

In [4]:
import numpy as np
import pandas as pd

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

### 5. Display a summary of the basic information about this DataFrame and its data (hint: there is a single method that can be called on the DataFrame)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
animal      10 non-null object
age         8 non-null float64
visits      10 non-null int64
priority    10 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

### 6. Return the first 3 rows of the DataFrame df.

In [6]:
df.head(3)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

### 7. Select just the 'animal' and 'age' columns from the DataFrame df.

In [7]:
print('法一')
print(df[['age', 'animal']])

print('法二')
print(df.loc[:, ['animal', 'age']])

法一
   age animal
a  2.5    cat
b  3.0    cat
c  0.5  snake
d  NaN    dog
e  5.0    dog
f  2.0    cat
g  4.5  snake
h  NaN    cat
i  7.0    dog
j  3.0    dog
法二
  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

### 8. Select the data in rows [3, 4, 8] and in columns ['animal', 'age']

In [8]:
df.loc[df.index[[3,4,8]]][['animal','age']]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

### 9. Select only the rows where the number of visits is greater than 3.

In [9]:
df[df['visits']>3]

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

### 10. Select the rows where the age is missing, i.e. it is NaN.

In [10]:
print('法一')
print(df[df['age'].isnull()])

print('法二')
print(df[df['age'].isna()])

法一
  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes
法二
  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

### 11. Select the rows where the animal is a cat and the age is less than 3.

In [11]:
df[(df['animal']=='cat') & (df['age']<3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

### 12. Select the rows the age is between 2 and 4 (inclusive).

In [12]:
print('法一')
print(df[(df['age']>=2) & (df['age']<=4)])

print('法二')
print(df[df['age'].between(2, 4)])

法一
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no
法二
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

### 13. Change the age in row 'f' to 1.5.

In [13]:
df.loc['f', 'age'] = 1.5
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

### 14. Calculate the sum of all visits in df (i.e. find the total number of visits).

In [14]:
df['visits'].sum()

19

### 15. Calculate the mean age for each different animal in df.

In [15]:
df.groupby(['animal'])['age'].mean()

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

### 16. Append a new row 'k' to df with your choice of values for each column. Then delete that row to return the original DataFrame.

In [16]:
df.loc['k'] = ['dog', 6, 2, 'no']
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no
k    dog  6.0       2       no

### 17. Count the number of each type of animal in df.

In [17]:
df['animal'].value_counts()

dog      5
cat      4
snake    2
Name: animal, dtype: int64

### 18. Sort df first by the values in the 'age' in decending order, then by the value in the 'visit' column in ascending order (so row i should be first, and row d should be last).

In [18]:
df.sort_values(by=['age', 'visits'], ascending=[False, True])

  animal  age  visits priority
i    dog  7.0       2       no
k    dog  6.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

### 19. The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be True and 'no' should be False.

In [19]:
print('方法一')
df['priority'] = df['priority'].replace('yes', True)
df['priority'] = df['priority'].replace('no', False)
print(df)

df['priority'] = df['priority'].replace(True, 'yes')
df['priority'] = df['priority'].replace(False, 'no')

print('方法二')
df['priority'] = df['priority'].map({'yes': True, 'no': False})
print(df)
df['priority'] = df['priority'].map({True: 'yes', False: 'no'})

方法一
  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  1.5       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False
k    dog  6.0       2     False
方法二
  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  1.5       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False
k    dog  6.0       2     False

### 20. In the 'animal' column, change the 'snake' entries to 'python'.

In [20]:
df['animal'] = df['animal'].replace('snake', 'python')
print(df)
df['animal'] = df['animal'].replace('python', 'snake')

   animal  age  visits priority
a     cat  2.5       1      yes
b     cat  3.0       3      yes
c  python  0.5       2       no
d     dog  NaN       3      yes
e     dog  5.0       2       no
f     cat  1.5       3       no
g  python  4.5       1       no
h     cat  NaN       1      yes
i     dog  7.0       2       no
j     dog  3.0       1       no
k     dog  6.0       2       no

### 21. For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages (hint: use a pivot table).

In [21]:
df.pivot_table(index='animal', columns='visits', values='age', aggfunc='mean')

visits    1    2     3
animal
cat     2.5  NaN  2.25
dog     3.0  6.0   NaN
snake   4.5  0.5   NaN

## DataFrames: beyond the basics
Slightly trickier: you may need to combine two or more methods to get the right answer

### 22. You have a DataFrame df with a column 'A' of integers. For example:

In [22]:
print('法一')
df = pd.DataFrame(columns=['A'], data=range(5))
print(df)

print('法二')
data = {'A': range(5)}
df = pd.DataFrame(data)
print(df)

法一
   A
0  0
1  1
2  2
3  3
4  4
法二
   A
0  0
1  1
2  2
3  3
4  4

### 23. Given a DataFrame of random numeric values:
    
``` python
df = pd.DataFrame(np.random.random(size=(5, 3))) # this is a 5x3 DataFrame of float values
```

how do you subtract the row mean from each element in the row?

In [23]:

df = pd.DataFrame(np.random.random(size=(5, 3)))
print(df)
print(df.mean(axis=1))
print(df.sub(df.mean(axis=1), axis=0))

          0         1         2
0  0.738252  0.201479  0.824136
1  0.099959  0.725572  0.794459
2  0.162633  0.987256  0.748521
3  0.254759  0.661050  0.130156
4  0.745389  0.923411  0.282109
0    0.587956
1    0.539997
2    0.632803
3    0.348655
4    0.650303
dtype: float64
          0         1         2
0  0.150296 -0.386477  0.236180
1 -0.440038  0.185575  0.254463
2 -0.470170  0.354453  0.115717
3 -0.093896  0.312395 -0.218499
4  0.095086  0.273108 -0.368194

### 24. Suppose you have DataFrame with 10 columns of real numbers, for example:

``` python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? Return that column's label.

In [24]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
df.sum().idxmin()

'h'

### 25. How do you count how many unique rows a DataFrame has (i.e. ignore all rows that are duplicates)? As input, use a DataFrame of zeros and ones with 10 rows and 3 columns.

``` python
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))
```

In [25]:
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))
len(df) - df.duplicated(keep=False).sum()

5

### 26. In the cell below, you have a DataFrame df that consists of 10 columns of floating-point numbers. Exactly 5 entries in each row are NaN values.

For each row of the DataFrame, find the column which contains the third NaN value.

You should return a Series of column labels: e, c, d, h, d

In [26]:
nan = np.nan

data = [[0.04,  nan,  nan, 0.25,  nan, 0.43, 0.71, 0.51,  nan,  nan],
        [ nan,  nan,  nan, 0.04, 0.76,  nan,  nan, 0.67, 0.76, 0.16],
        [ nan,  nan, 0.5 ,  nan, 0.31, 0.4 ,  nan,  nan, 0.24, 0.01],
        [0.49,  nan,  nan, 0.62, 0.73, 0.26, 0.85,  nan,  nan,  nan],
        [ nan,  nan, 0.41,  nan, 0.05,  nan, 0.61,  nan, 0.48, 0.68]]

columns = list('abcdefghij')

df = pd.DataFrame(data, columns=columns)
print(df)

# write a solution to the question here
(df.isnull().cumsum(axis=1) == 3).idxmax(axis=1)

      a   b     c     d     e     f     g     h     i     j
0  0.04 NaN   NaN  0.25   NaN  0.43  0.71  0.51   NaN   NaN
1   NaN NaN   NaN  0.04  0.76   NaN   NaN  0.67  0.76  0.16
2   NaN NaN  0.50   NaN  0.31  0.40   NaN   NaN  0.24  0.01
3  0.49 NaN   NaN  0.62  0.73  0.26  0.85   NaN   NaN   NaN
4   NaN NaN  0.41   NaN  0.05   NaN  0.61   NaN  0.48  0.68

0    e
1    c
2    d
3    h
4    d
dtype: object

### 27. A DataFrame has a column of groups 'grps' and and column of integer values 'vals':

``` python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```

For each group, find the sum of the three greatest values. You should end up with the answer as follows:

grps

```
a    345
b     57
c    235
```

In [27]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
df.groupby(['grps'])['vals'].max()

grps
a    345
b     57
c    235
Name: vals, dtype: int64

### 28. The DataFrame df constructed below has two integer columns 'A' and 'B'. The values in 'A' are between 1 and 100 (inclusive).

For each group of 10 consecutive integers in 'A' (i.e. (0, 10], (10, 20], ...), calculate the sum of the corresponding values in column 'B'.

The answer should be a Series as follows:

A

```
(0, 10]      635
(10, 20]     360
(20, 30]     315
(30, 40]     306
(40, 50]     750
(50, 60]     284
(60, 70]     424
(70, 80]     526
(80, 90]     835
(90, 100]    852
```

In [28]:
df = pd.DataFrame(np.random.RandomState(8765).randint(1, 101, size=(100, 2)), columns = ["A", "B"])
df.groupby(pd.cut(df['A'], np.arange(0, 101, 10)))['B'].sum()

A
(0, 10]      635
(10, 20]     360
(20, 30]     315
(30, 40]     306
(40, 50]     750
(50, 60]     284
(60, 70]     424
(70, 80]     526
(80, 90]     835
(90, 100]    852
Name: B, dtype: int64

## DataFrames: harder problems
These might require a bit of thinking outside the box..

### 29. Consider a DataFrame df where there is an integer column 'X':

``` python 
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
```

For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer). These values should therefore be

[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]
Make this a new column 'Y'.

In [29]:
#TODO: 待完善

### 30. Consider the DataFrame constructed below which contains rows and columns of numerical data.

Create a list of the column-row index locations of the 3 largest values in this DataFrame. In this case, the answer should be:

[(5, 7), (6, 4), (2, 5)]

In [30]:
df = pd.DataFrame(np.random.RandomState(30).randint(1, 101, size=(8, 8)))
df

    0   1   2   3   4   5   6   7
0  38  38  46  46  13  24   3  54
1  18  47   4  42   8  66  50  46
2  62  36  19  19  77  17   7  63
3  28  47  46  65  63  12  16  24
4  14  51  34  56  29  59  92  79
5  58  76  96  45  38  76  58  40
6  10  34  48  40  37  23  41  26
7  55  70  91  27  79  92  20  31

In [31]:
# TODO: 待深入
df.unstack().sort_values()[-3:].index.tolist()

[(5, 7), (6, 4), (2, 5)]

### 31. You are given the DataFrame below with a column of group IDs, 'grps', and a column of corresponding integer values, 'vals'.

``` python
df = pd.DataFrame({"vals": np.random.RandomState(31).randint(-30, 30, size=15), 
                   "grps": np.random.RandomState(31).choice(["A", "B"], 15)})
```

Create a new column 'patched_values' which contains the same values as the 'vals' any negative values in 'vals' with the group mean:

```
    vals grps  patched_vals
0    -12    A          13.6
1     -7    B          28.0
2    -14    A          13.6
3      4    A           4.0
4     -7    A          13.6
5     28    B          28.0
6     -2    A          13.6
7     -1    A          13.6
8      8    A           8.0
9     -2    B          28.0
10    28    A          28.0
11    12    A          12.0
12    16    A          16.0
13   -24    A          13.6
14   -12    A          13.6
```

In [32]:
# TODO: 待深入
df = pd.DataFrame({"vals": np.random.RandomState(31).randint(-30, 30, size=15), 
                   "grps": np.random.RandomState(31).choice(["A", "B"], 15)})

def replace(group):
    mask = group<0
    group[mask] = group[~mask].mean()
    return group

df.groupby(['grps'])['vals'].transform(replace)

0     13.6
1     28.0
2     13.6
3      4.0
4     13.6
5     28.0
6     13.6
7     13.6
8      8.0
9     28.0
10    28.0
11    12.0
12    16.0
13    13.6
14    13.6
Name: vals, dtype: float64

### 32. Implement a rolling mean over groups with window size 3, which ignores NaN value. For example consider the following DataFrame:

In [33]:
### 待深入

## Series and DatetimeIndex
Exercises for creating and manipulating Series with datetime data

### 33. Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers. Let's call this Series s.

In [37]:
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B')
s = pd.Series(np.random.rand(len(dti)), index=dti)
s

2015-01-01    0.407215
2015-01-02    0.873315
2015-01-05    0.617050
2015-01-06    0.403029
2015-01-07    0.205027
                ...
2015-12-25    0.374293
2015-12-28    0.332082
2015-12-29    0.846223
2015-12-30    0.959306
2015-12-31    0.432959
Freq: B, Length: 261, dtype: float64

### 34. Find the sum of the values in s for every Wednesday.

In [42]:
s[s.index.weekday==2].sum()

20.506829929098718

### 35. For each calendar month in s, find the mean of values.

In [50]:
# 每个月最后一天 TODO: 待深入
s.resample('M').mean()

2015-01-31    0.540812
2015-02-28    0.406537
2015-03-31    0.490268
2015-04-30    0.535934
2015-05-31    0.389044
2015-06-30    0.496110
2015-07-31    0.502932
2015-08-31    0.429246
2015-09-30    0.507495
2015-10-31    0.539661
2015-11-30    0.473829
2015-12-31    0.509165
Freq: M, dtype: float64

### 36. For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

In [52]:
# TODO: 待深入
s.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-28
2015-05-31   2015-04-03
2015-09-30   2015-07-06
2016-01-31   2015-10-15
Freq: 4M, dtype: datetime64[ns]

### 37. Create a DateTimeIndex consisting of the third Thursday in each month for the years 2015 and 2016.

In [53]:
pd.date_range('2015-01-01', '2016-12-31', freq='WOM-3THU')

DatetimeIndex(['2015-01-15', '2015-02-19', '2015-03-19', '2015-04-16',
               '2015-05-21', '2015-06-18', '2015-07-16', '2015-08-20',
               '2015-09-17', '2015-10-15', '2015-11-19', '2015-12-17',
               '2016-01-21', '2016-02-18', '2016-03-17', '2016-04-21',
               '2016-05-19', '2016-06-16', '2016-07-21', '2016-08-18',
               '2016-09-15', '2016-10-20', '2016-11-17', '2016-12-15'],
              dtype='datetime64[ns]', freq='WOM-3THU')

## Cleaning Data

## Using MultiIndexes

### 44. Given the lists letters = ['A', 'B', 'C'] and numbers = list(range(10)), construct a MultiIndex object from the product of the two lists. Use it to index a Series of random numbers. Call this Series s.

In [58]:
letters = ['A', 'B', 'C']
numbers = list(range(10))

mi = pd.MultiIndex.from_product([letters, numbers])
s = pd.Series(np.random.rand(30), index=mi)
s

A  0    0.841545
   1    0.889572
   2    0.323334
   3    0.438207
   4    0.845375
   5    0.763185
   6    0.103002
   7    0.019054
   8    0.266730
   9    0.530062
B  0    0.089827
   1    0.752223
   2    0.832398
   3    0.724160
   4    0.594614
   5    0.456813
   6    0.027384
   7    0.693735
   8    0.877059
   9    0.099040
C  0    0.586136
   1    0.295846
   2    0.373886
   3    0.852074
   4    0.589586
   5    0.206297
   6    0.204464
   7    0.702999
   8    0.782311
   9    0.842959
dtype: float64

### 45. Check the index of s is lexicographically sorted (this is a necessary proprty for indexing to work correctly with a MultiIndex).

In [64]:
print('法一')
print(s.index.is_lexsorted())

# or more verbosely...
print('法二')
print(s.index.lexsort_depth == s.index.nlevels)

法一
True
法二
True

### 46. Select the labels 1, 3 and 6 from the second level of the MultiIndexed Series.

In [65]:
s.loc[:, [1, 3, 6]]

A  1    0.889572
   3    0.438207
   6    0.103002
B  1    0.752223
   3    0.724160
   6    0.027384
C  1    0.295846
   3    0.852074
   6    0.204464
dtype: float64

### 47. Slice the Series s; slice up to label 'B' for the first level and from label 5 onwards for the second level.

In [66]:
s.loc[pd.IndexSlice[:'B', 5:]]

A  5    0.763185
   6    0.103002
   7    0.019054
   8    0.266730
   9    0.530062
B  5    0.456813
   6    0.027384
   7    0.693735
   8    0.877059
   9    0.099040
dtype: float64

### 48. Sum the values in s for each label in the first level (you should have Series giving you a total for labels A, B and C).

In [72]:
s.sum(level=[0])

A    5.020066
B    5.147253
C    5.436558
dtype: float64

### 49. Suppose that sum() (and other methods) did not accept a level keyword argument. How else could you perform the equivalent of s.sum(level=1)?

In [73]:
s.unstack().sum(axis=0)

0    1.517508
1    1.937640
2    1.529618
3    2.014441
4    2.029575
5    1.426295
6    0.334850
7    1.415788
8    1.926100
9    1.472062
dtype: float64

## 参考

- [100-pandas-puzzles](https://github.com/ajcr/100-pandas-puzzles/blob/master/100-pandas-puzzles.ipynb)